<p>Your animal has now been created:</p>

<p><%= @animal.name %></p>
<p><%= @animal.type %></p>
<p><%= @animal.date_admitted %></p>
<p>Adoptable? :<%= @animal.adoptable %></p>
<p>Trained? :<%= @animal.trained %></p>
<p>Adopted? :<%= @animal.adopted %></p>

<p><a href="/animals/"> Back to animals</a></p>

<p><a href="/"> Back to homescreen</a></p>
