<p>The following animal has now been logged into the Shelter:</p>

<p><%= @animal.name %></p>
<p><%= @animal.species %></p>
<p><%= @animal.type %></p>
<p><%= @animal.date_admitted %></p>
<p>Healthy? :<%= @animal.healthy %></p>
<p>Trained? :<%= @animal.trained %></p>
<p>Adopted  :<%= @animal.adopted? %></p>
<p>Adoptable :<%= @animal.adoptable? %></p>
<br>
<br>
<a href="/animals/new">CLICK HERE TO ADD ANOTHER ANIMAL</a>
