<p>Your animal has now been created:</p>

<p><%= @animal.name %></p>
<p><%= @animal.type %></p>
<p><%= @animal.date_admitted %></p>
<p>Healthy? :<%= @animal.healthy %></p>
<p>Trained? :<%= @animal.trained %></p>
<p>Test:</p>
<p><%= @animal.adopted? %></p>
