<p>The following <%= @animal.display_species %> has now been logged into the Shelter:</p>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Trained?</th>
  </tr>
  <tr>
    <td><%= @animal.name %></td>
    <td><%= @animal.display_type %></td>
    <td><%= @animal.date_admitted %></td>
    <td><%= @animal.healthy %></td>
    <td><%= @animal.trained %></td>
  </tr>
</table>
<br><br>

<a href="/animals/new" class="button_create">ADD ANOTHER ANIMAL</a>
