<form action="/animals/<%= @animal.id %>" method="post">

  <label for="name">Name: </label>
  <input id="name" type="text" name="name" value="<%= @animal.name%>">
  <br>

  <label for="species">Species: </label><br>
  <input type="radio" name="species" value="Dog" <%= 'checked' if @animal.species == "Dog" %>> Dog <br>

  <input type="radio" name="species" value="Cat" <%= 'checked' if @animal.species == "Cat" %>> Cat<br>

  <input type="radio" name="species" value="Other" <%= 'checked' if @animal.species == "Other" %>> Other<br>
  <br>

  <label for="type">Species of animal/breed of cat/dog: </label>
  <input id="type" type="text" name="type" value="<%= @animal.type %>">

  <br>
  <label for="date_admitted">Date Admitted: </label>
  <input id="date_admitted" type="text" name="date_admitted" value="<%= @animal.date_admitted %>">

  <br>
  <label for="healthy">Healthy</label>
  <select class="healthy" name="healthy">
    <option value="t" <%= 'selected' if @animal.healthy == "t" %>>True</option>
    <option value="f" <%= 'selected' if @animal.healthy == "f" %>>False</option>
  </select>

  <br>
  <label for="trained">Trained</label>
  <select class="trained" name="trained">
    <option value="t" <%= 'selected' if @animal.trained == "t" %>>True</option>
    <option value="f" <%= 'selected' if @animal.trained == "f" %>>False</option>
  </select>
  <br>

  <input type="submit" value="Update Animal">

</form>
<br><br>
<a href="/animals/home">Back to Animals</a>
