

<table>
  <tr>
    <th>Animals Currently in Shelter</th>
    <th>Adoptable Animals</th>
    <th>Untrained Animals </th>
    <th>Unwell Animals</th>
  </tr>
  <tr>

    <td> <%= Animal.in_shelter_number %></td>
    <td> <%= Animal.adoptable_number %></td>
    <td> <%= Animal.untrained.count %></td>
    <td> <%= Animal.unhealthy.count %></td>
  </tr>
</table>


<h2>The Animals currently in the shelter are:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Trained?</th>
    <th>Adoptable?</th>
    <th>Link to Animal</th>
  </tr>
  <% @animals.each do |animal| %>
  <% if animal.in_shelter? %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.type %></td>
    <td><%= animal.date_admitted %></td>
    <td><%= animal.healthy %></td>
    <td><%= animal.trained %></td>
    <td><%= animal.adoptable? %></td>
    <td><a href="/animals/<%= animal.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<br>
<p><a href="/animals/new">To create new animal click here:</a></p>
