
<p><a href="/animals/new"">To create new animal click here</a></p>
<br>
<br>
<table>
  <tr>
    <th>Animals Currently in Shelter</th>
    <th><a href="/animals/adoptable">Adoptable Animals</a></th>
    <th><a href="/animals/untrained">Untrained Animals </a></th>
    <th><a href="/animals/unwell">Unwell Animals</a></th>
  </tr>
  <tr>
    <td> <%= Animal.in_shelter.count %></td>
    <td> <%= Animal.adoptable_number %></td>
    <td> <%= Animal.untrained.count %></td>
    <td> <%= Animal.unhealthy.count %></td>
  </tr>
</table>
<br><br>
<nav>
  <ul>
    <li><a href="/animals/dogs">Dogs In Shelter</a></li>
    <li><a href="/animals/cats">Cats In Shelter</a></li>
    <li><a href="/animals/others/">Other Animals In Shelter</a></li>
  </ul>
</nav>

<h2>All the Animals currently in the shelter are:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Trained?</th>
    <th>Adoptable?</th>
    <th>Link to Animal</th>
  </tr>
  <% @animals.each do |animal| %>
  <% if animal.in_shelter? %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.display_type %></td>
    <td><%= animal.date_admitted %></td>
    <td><%= animal.healthy %></td>
    <td><%= animal.trained %></td>
    <td><%= animal.adoptable? %></td>
    <td><a href="/animals/<%= animal.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<br>
<br>
<p><a href="/animals/">To see every animal who entered the shelter click here</a></p>
