
<a href="/animals/new" class="button_create" >Add a new animal to the Shelter</a>
<br>

<h2>See the:</h2>
<p><a href="/animals/type/dog" class="button_animals_link"><%= Animal.dogs_shelter.count %> Dogs in the Shelter</a></p>

<p><a href="/animals/type/cat" class="button_animals_link"><%= Animal.cats_shelter.count %> Cats in the Shelter</a></p>

<p><a href="/animals/type/other" class="button_animals_link"><%= Animal.others_shelter.count %> Other Animals in the Shelter</a></p>

<p><a href="/animals/status/adoptable" class="button_animals_link"><%= Animal.adoptable_number %> Adoptable Animals in the Shelter</a></p>

<p><a href="/animals/status/untrained" class="button_animals_link"><%= Animal.untrained.count %> Untrained Animals in the Shelter</a></p>

<p><a href="/animals/status/unhealthy" class="button_animals_link"><%= Animal.unhealthy.count %> Unwell Animals in the Shelter</a></p>

<p><a href="/animals/status/in_shelter" class="button_animals_link">All the <%= Animal.in_shelter.count %> Animals currently in the Shelter</a></p>

<p><a href="/animals/" class="button_animals_link">All of the <%= Animal.all.count %>  animals who have ever been admitted to the Shelter</a></p>
<br><br><br>
