
<a href="/animals/new" class="button_create" >Add a new animal to the Shelter</a>
<br>

<p><a href="/animals/type/dog" class="button_animals_link">See the <%= Animal.dogs.count %> Dogs in the Shelter</a></p>

<p><a href="/animals/type/cat" class="button_animals_link">See the <%= Animal.cats.count %> Cats in the Shelter</a></p>

<p><a href="/animals/type/other" class="button_animals_link">See the <%= Animal.others.count %> Other Animals in the Shelter</a></p>

<p><a href="/animals/status/adoptable" class="button_animals_link">See the <%= Animal.adoptable_number %> Adoptable Animals in the Shelter</a></p>

<p><a href="/animals/status/untrained" class="button_animals_link">See the <%= Animal.untrained.count %> Untrained Animals in the Shelter</a></p>

<p><a href="/animals/status/unhealthy" class="button_animals_link">See the <%= Animal.unhealthy.count %> Unwell Animals in the Shelter</a></p>

<p><a href="/animals/status/in_shelter" class="button_animals_link">See All the <%= Animal.in_shelter.count %> Animals currently in the Shelter</a></p>

<p><a href="/animals/" class="button_animals_link">See all of the <%= Animal.all.count %>  animals who have ever been admitted to the Shelter</a></p>
