
<p><a href="/animals/new"">To create new animal click here</a></p>
<br>

<p><a href="/animals/type/dog">Click here to see the <%= Animal.dogs.count %> Dogs in the Shelter</a></p>

<p><a href="/animals/type/cat">Click here to see the <%= Animal.cats.count %> Cats in the Shelter</a></p>

<p><a href="/animals/type/other">Click here to see the <%= Animal.others.count %> Other Animals in the Shelter</a></p>

<p><a href="/animals/status/adoptable">Click here to see the <%= Animal.adoptable_number %> Adoptable Animals in the Shelter</a></p>

<p><a href="/animals/status/untrained">Click here to see the <%= Animal.untrained.count %> Untrained Animals in the Shelter</a></p>

<p><a href="/animals/status/unhealthy">Click here to see the <%= Animal.unhealthy.count %> Unwell Animals in the Shelter</a></p>

<p><a href="/animals/status/in_shelter">Click here to see All the <%= Animal.in_shelter.count %> Animals currently in the Shelter</a></p>

<p><a href="/animals/">Click here to see all of the <%= Animal.all.count %>  animals who have ever been admitted to the Shelter</a></p>
