<h1>Animals /index</h1>

<h2>All the animals who ever entered the shelter:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Trained?</th>
    <th>Adoptable?</th>
    <th>Adopted?</th>
    <th>Link to Animal</th>
  </tr>
  <% @animals.each do |animal| %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.display_type %></td>
    <td><%= animal.date_admitted %></td>
    <td><%= animal.healthy %></td>
    <td><%= animal.trained %></td>
    <td><%= animal.adoptable? %></td>
    <td><%= animal.adopted? %></td>
    <td><a href="/animals/<%= animal.id %>">link</a></td>
  </tr>
  <% end %>
</table>
<br>
<br>
<p><a href="/animals/new" class="button_create">Create new animal</a></p>
