<p>The selected <%= @animal.display_species %> is:</p>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Trained?</th>
    <th>Adoptable?</th>
    <th>Adopted?</th>
    <th>Adopted by </th>
  </tr>
  <tr>
    <td><%= @animal.name %></td>
    <td><%= @animal.display_type %></td>
    <td><%= @animal.date_admitted %></td>
    <td><%= @animal.healthy %></td>
    <td><%= @animal.trained %></td>
    <td><%= @animal.adoptable? %></td>
    <td><%= @animal.adopted? %></td>
    <td><% if @animal.adopted? %>
    <%= @animal.customer.full_name %>
    <% end %></td>
  </tr>
</table>
<br>

<a href="/animals/<%= @animal.id %>/edit" class="button_edit">Click here to edit <%=@animal.name %> the <%=@animal.display_type %>:</a>


<p>To delete <%=@animal.name %> the <%=@animal.display_type %> click here:</p>
<form action="/animals/<%= @animal.id %>/delete" method="post">
  <input type="submit" class="button_delete" value="delete <%=@animal.name %> the <%=@animal.display_type %>">
</form>

<p>These customers are looking for a <%=@animal.display_type %> exactly like <%=@animal.name %>: </p>
<table>
  <tr>
    <th>Name</th>
    <th>link</th>
  </tr>
  <% @animal.customer_type.each do |customer| %>
  <tr>
    <td><%= customer.full_name %></td>
    <td><a href="/customers/<%= customer.id %>">link</a></td>
  </tr>
  <% end %>
</table>
<br>
<p>These Customers may be interested in a <%= @animal.display_species %>
like <%=@animal.name %>: </p>
<table>
  <tr>
    <th>Name</th>
    <th>link</th>
  </tr>
  <% @animal.customer_species.each do |customer| %>
  <tr>
    <td><%= customer.full_name %></td>
    <td><a href="/customers/<%= customer.id %>">link</a></td>
  </tr>
  <% end %>
</table>
