
<h2>The <%= @animals.first.species %>s currently in the shelter are:</h2>

<h3>Adoptable <%= @animals.first.species %>s: </h3>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Link to Animal</th>
  </tr>
  <% @animals.each do |animal| %>
  <% if animal.adoptable? %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.type %></td>
    <td><%= animal.date_admitted %></td>
    <td><a href="/animals/<%= animal.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<h3>Untrained <%= @animals.first.species %>s : </h3>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Adoptable?</th>
    <th>Link to Animal</th>
  </tr>
  <% @animals.each do |animal| %>
  <% if animal.trained == 'false' %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.type %></td>
    <td><%= animal.date_admitted %></td>
    <td><%= animal.healthy %></td>
    <td><%= animal.adoptable? %></td>
    <td><a href="/animals/<%= animal.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<h3>Unwell <%= @animals.first.species %>s : </h3>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Trained?</th>
    <th>Adoptable?</th>
    <th>Link to Animal</th>
  </tr>
  <% @animals.each do |animal| %>
  <% if animal.healthy == 'false' %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.type %></td>
    <td><%= animal.date_admitted %></td>
    <td><%= animal.trained %></td>
    <td><%= animal.adoptable? %></td>
    <td><a href="/animals/<%= animal.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<br>
<p><a href="/animals/new" class="button_create">To create new animal click here:</a></p>
<br>
<br>
<table>
  <tr>
    <th><a href="/animals/status/in_shelter">Animals Currently in Shelter</a></th>
    <th><a href="/animals/type/dog"> Dogs in Shelter</a></th>
    <th><a href="/animals/type/cat"> Cats in Shelter</a></th>
    <th><a href="/animals/type/other"> Other Animals</a></th>
  </tr>
  <tr>
    <td> <%= Animal.in_shelter.count %></td>
    <td> <%= Animal.dogs_shelter.count %> </td>
    <td> <%= Animal.cats_shelter.count %> </td>
    <td> <%= Animal.others_shelter.count %> </td>
  </tr>
</table>
<br>
<br>
<br>
<br>
