<p>Your animal has now been updated!</p>

<p><%= @animal.name %></p>
<p><%= @animal.display_type %></p>
<p><%= @animal.date_admitted %></p>
<p>Healthy? : <%= @animal.healthy %></p>
<p>Trained? : <%= @animal.trained %></p>
<p>Adoptable? : <%= @animal.adoptable? %></p>
