<h3> <%= @animal.name %> has now been updated! </h3>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Trained?</th>
  </tr>
  <tr>
    <td><%= @animal.name %></td>
    <td><%= @animal.display_type %></td>
    <td><%= @animal.date_admitted %></td>
    <td><%= @animal.healthy %></td>
    <td><%= @animal.trained %></td>
    <td> <%= @animal.adoptable? %></td>
  </tr>
</table>

<br><br>

<p><a href="/animals/home" class="button_animals_link"> Back to the Animals</a></p>
