<p>The adoption has been created:</p>

<p><a href="/animals/<%=@adoption.animal.id%>"><%= @adoption.animal.name %> the <%=@adoption.animal.display_type %> </a> was adopted by <a href="/customers/<%=@adoption.customer.id%>"> <%= @adoption.customer.full_name %> </a> </p>
