<h1>Adoptions /index</h1>

<table>
  <tr>
    <th>Adoption ID</th>
    <th>Pet </th>
    <th>Customer </th>
    <th>Link to adoption</th>
  </tr>
  <% @adoptions.each do |adoption| %>
  <tr>
    <td><%= adoption.id%></td>
    <td> <%= adoption.animal_name %> : <%= adoption.animal.species %></td>: <%= adoption.animal.type %></td>
    <td> <%= adoption.customer.full_name %></td>
    <td><a href="/adoptions/<%= adoption.id %>">link</a></td>
  </tr>
  <% end %>
</table>



<p><a href="/adoptions/new">To create new adoption click here:</a></p>
