<form action="/adoptions" method="post">


  <label>
    Customer:
    <select name="customer_id">
      <%  @customers.each do |customer| %>
      <option value="<%= customer.id %>"><%= customer.full_name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Animal:
    <select name="animal_id">
      <%  @animals.each do |animal| %>
        <% if animal.adoptable? == true %>
            <option value="<%= animal.id %>"><%= animal.name %> : <%= animal.type %></option>
        <% end %>
      <% end %>
    </select>
  </label>

  <input type="submit" value="Create Adoption">
</form>
