<p>The selected adoption is :</p>
<br>
<p><a href="/animals/<%= @adoption.animal_id %>"> <%= @adoption.animal_name %>  the
 <%= @adoption.animal.display_type %></a>
 was adopted by <a href="/customers/<%=@adoption.customer_id%>"> <%= @adoption.customer.full_name %> </a></p>
<br>
