<form action="/customers/<%= @customer.id %>" method="post">

  <label for="first_name">First Name: </label>
  <input id="first_name" type="text" name="first_name" value="<%= @customer.first_name %>">
  <br>

  <label for="last_name">Last Name: </label>
  <input id="last_name" type="text" name="last_name" value="<%= @customer.last_name %>">
  <br>


  <label for="species_preference">Preference:</label>
  <select class="species_preference" name="species_preference">
    <option value="Dog"<%= 'selected' if @customer.species_preference == "Dog" %>>Dog:: Breed:</option>
    <option value="Cat"<%= 'selected' if @customer.species_preference == "Cat" %>>Cat:: Breed:</option>
    <option value="Other"<%= 'selected' if @customer.species_preference == "Other" %>>Other:: Species:</option>
  </select>
  <input id="type" type="text" name="type_preference" value="<%= @customer.type_preference %>">
  <br>
  <p></p>
  <input class="button_edit" type="submit" value="Update <%= @customer.first_name %>">


</form>
