<h1>Customers /index</h1>
<br>
<p><a href="/customers/new">To create new customer click here:</a></p>
<br>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Preferences</th>
    <th>Number of Adoptions</th>
    <th>Link to customer</th>
  </tr>
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.display_preference %></td>
    <td><%= customer.number_of_adoptions %></td>
    <td><a href="/customers/<%= customer.id %>">link</a></td>
  </tr>
  <% end %>
</table>
