<p>The selected Customer is: </p>


<table>
  <tr>
    <th>Name</th>
    <th>Animal Preference</th>
    <th>Number of Adoptions</th>
  </tr>
  <tr>
    <td><%= @customer.full_name %></td>
    <td><%= @customer.display_preference %></td>
    <td><%= @customer.number_of_adoptions %></td>
  </tr>
</table>

<p><a href="/customers/<%= @customer.id %>/edit" class="button_edit">Edit <%= @customer.full_name%> here</a></p>

<p><strong><%=@customer.full_name %>'s  Previous Adoptions:</strong></p>

<% @customer.animals.each do |animal| %>
<p><a href="/animals/<%= animal.id %>"> <%= animal.name %> the <%= animal.display_type %> </a></p>
<% end %>




<p>Currently Adoptable <%= @customer.display_species %>s who <%=@customer.full_name %> may be interested in : </p>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>
  <% @customer.general_preferences.each do |animal| %>
  <% if animal.adoptable? %>
  <tr>
    <td><a href="/animals/<%= animal.id %>"><%= animal.name %></a></td>
    <td><%= animal.display_type %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<p>Other <%= @customer.display_species %>s in the shelter who <%=@customer.full_name %> might be interested in when available: </p>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Trained</th>
    <th>Healthy</th>
  </tr>
  <% @customer.general_preferences.each do |animal| %>
  <% if animal.not_yet_adoptable? %>
  <tr>
    <td><a href="/animals/<%= animal.id %>"><%= animal.name %></a></td>
    <td><%= animal.display_type %></td>
    <td><%= animal.trained %></td>
    <td><%= animal.healthy %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<p>To delete this customer, click here:</p>
<form action="/customers/<%= @customer.id %>/delete" method="post">
  <input type="submit" value="Delete" class="button_delete">
</form>

<br><br><br><br><br>
