<p>The selected Customer is: </p>


<table>
  <tr>
    <th>Name</th>
    <th>Animal Preference</th>
    <th>Number of Adoptions</th>
  </tr>
  <tr>
    <td><%= @customer.full_name %></td>
    <td><%= @customer.display_preference %></td>
    <td><%= @customer.number_of_adoptions %></td>
  </tr>
</table>

<p><strong>Customers Previous Adoptions:</strong></p>

<% @customer.animals.each do |animal| %>
<p> Name: <%= animal.name %> the <%= animal.display_type %> </p>
<% end %>

<p><a href="/customers/<%= @customer.id %>/edit">To edit the customer click here</a></p>

<p>To delete this customer, click here:</p>
<form action="/customers/<%= @customer.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>


<p>Currently Adoptable <%= @customer.display_species %>s who <%=@customer.full_name %> may be interested in : </p>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>link</th>
  </tr>
  <% @customer.general_preferences.each do |animal| %>
  <% if animal.adoptable? %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.display_type %></td>
    <td><a href="/animals/<%= animal.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>

<p>Other <%= @customer.display_species %>s in the shelter who <%=@customer.full_name %> might be interested in when available: </p>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Trained</th>
    <th>Healthy</th>
    <th>link</th>
  </tr>
  <% @customer.general_preferences.each do |animal| %>
  <% if animal.not_yet_adoptable? %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.display_type %></td>
    <td><%= animal.trained %></td>
    <td><%= animal.healthy %></td>
    <td><a href="/animals/<%= animal.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
