<p>You have successfully updated a customer, their details are now:</p>
<br>
<p>First Name : <%= @customer.first_name %></p>
<br>
<p>Last Name : <%= @customer.last_name %></p>
<br>
<p>Species Preference : <%= @customer.species_preference %></p>
<br>
<p>Type Preference : <%= @customer.type_preference %></p>
<br>
<p>Number of Adoptions : <%= @customer.number_of_adoptions %></p>
