<a href="/animals/others/">Other Animals In Shelter</a>
<a href="/animals/cats">Cats In Shelter</a>

<h2>The dogs currently in the shelter are:</h2>

<h3>Adoptable Dogs: </h3>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Link to Animal</th>
  </tr>
  <% @dogs.each do |dog| %>
  <% if dog.adoptable? %>
  <tr>
    <td><%= dog.name %></td>
    <td><%= dog.type %></td>
    <td><%= dog.date_admitted %></td>
    <td><a href="/animals/<%= dog.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<h3>Untrained Dogs: </h3>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Adoptable?</th>
    <th>Link to Animal</th>
  </tr>
  <% @dogs.each do |dog| %>
  <% if dog.trained == 'f' %>
  <tr>
    <td><%= dog.name %></td>
    <td><%= dog.type %></td>
    <td><%= dog.date_admitted %></td>
    <td><%= dog.healthy %></td>
    <td><%= dog.adoptable? %></td>
    <td><a href="/animals/<%= dog.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<h3>Unwell Dogs: </h3>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Trained?</th>
    <th>Adoptable?</th>
    <th>Link to Animal</th>
  </tr>
  <% @dogs.each do |dog| %>
  <% if dog.healthy == 'f' %>
  <tr>
    <td><%= dog.name %></td>
    <td><%= dog.type %></td>
    <td><%= dog.date_admitted %></td>
    <td><%= dog.trained %></td>
    <td><%= dog.adoptable? %></td>
    <td><a href="/animals/<%= dog.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>

<br>
<br>
<p><a href="/animals/new">To create new dog click here:</a></p>
