<a href="/animals/dogs">Dogs In Shelter</a>
<a href="/animals/cats">Cats In Shelter</a>

<h2>The other animals currently in the shelter are:</h2>

<h3>Adoptable Animals:</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Trained?</th>
    <th>Link to Animal</th>
  </tr>
  <% @others.each do |others| %>
  <% if others.adoptable? %>
  <tr>
    <td><%= others.name %></td>
    <td><%= others.type %></td>
    <td><%= others.date_admitted %></td>
    <td><%= others.healthy %></td>
    <td><%= others.trained %></td>
    <td><a href="/animals/<%= others.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<h3>Untrained Animals </h3>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Adoptable?</th>
    <th>Link to Animal</th>
  </tr>
  <% @others.each do |others| %>
  <% if others.trained == 'f' %>
  <tr>
    <td><%= others.name %></td>
    <td><%= others.type %></td>
    <td><%= others.date_admitted %></td>
    <td><%= others.healthy %></td>
    <td><%= others.adoptable? %></td>
    <td><a href="/animals/<%= others.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<h3>Unwell Animals </h3>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Date Admitted</th>
    <th>Healthy?</th>
    <th>Trained?</th>
    <th>Adoptable?</th>
    <th>Link to Animal</th>
  </tr>
  <% @others.each do |others| %>
  <% if others.healthy == 'f' %>
  <tr>
    <td><%= others.name %></td>
    <td><%= others.type %></td>
    <td><%= others.date_admitted %></td>
    <td><%= others.healthy %></td>
    <td><%= others.trained %></td>
    <td><%= others.adoptable? %></td>
    <td><a href="/animals/<%= others.id %>">link</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
<br>
<br>

<p><a href="/animals/new">To create new animal click here:</a></p>
